
body {
    background-color: #000000 !important;
}

/* RAMPANT NAV BAR 100% */

.rampant-nav {
    display: inline-block;
    width: 100%;
    background-color: black;
    list-style-type: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.87);
}


.rampant-nav-title {
    display:inline-block;
    display: inline;
    color: white;
    text-decoration: none;
}

.rampant-nav-select {
    display:inline-block;
    display: inline;
    height: 70px;
}

.rampant-nav-select a {
    display: block;
    color: white;
    padding: 25px 15px;
    text-decoration: none;
    display: inline-block;
}


.rampant-nav-select a:hover {
    background-color: grey;
    position: relative;
}


.social-dropdown {
    position: relative;
    display: inline-block;
    color: white;
    padding: 25px 15px;
    text-decoration: none;
}

.social-dropdown:hover .social-dropdown-options {
    display: block;
    background-color: black;
    text-decoration: none;
    color: white;
}


.social-dropdown-options {
    display: none;
    position: absolute;
    background-color: lightgrey;
    padding: 12px 16px;
    z-index: 1;
    min-width: 15px;
    color: white;

}

.social-dropdown-options a {
    text-decoration: none;
    color: white;
}

/* RAMPANT NAV BAR CODE ENDS HERE */


/* MAIN INFO CONTAINER */

#main-container {
    background-color: #252525;
    width: 100%;
}

#main-user-info-box {
    font-family: Roboto;
    color: black;
}

.username {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.registered-date {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* ADDING NEW SHIT
 */

.left-div {
    background-color: #191a1e;
    height: 100%;
    width: 15%;
    display:inline-block;
}

.left-div h3 {
    color: #ECEFF1;
    /*margin-left: 20px;*/
}
.small-admin-panel {
    display:inline-block;
    width: 100%;
    background-color: #5c9df5;
}

.small-admin-sidebar {
    background: #2f323a;

    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.small-admin-sidebar h3 {
    padding-left: 20px;
    color: #CFD8DC; /*#1976D2;*/
    line-height: 3rem;
    background-color: #2f323a;
    /*border-bottom: 2px solid #1976D2;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;

}

.small-admin-sidebar ul li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 2rem;
    color: #CFD8DC;
}

.small-admin-sidebar ul li a {
    text-decoration: none;
    color: white;
}

#stream-form {
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: Roboto, SansSerif;
    font-size: 16px;
}

.small-admin-text {
    display: none;
}
.small-admin-panel .small-admin-text {
    text-align: right;
}

.small-admin-panel .small-admin-text h4 {
    padding-right: 20px;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ECEFF1;
}

.small-admin-panel .small-admin-text p {
    margin-top: 0;
    padding-right: 20px;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 15px;
}

.small-admin-panel .small-admin-image {
    width: 16%;
    display:inline-block;
    background-image: url("https://i.kym-cdn.com/photos/images/original/001/285/680/e17.jpg");
    border-radius: 50%;
    height: 45px;
    background-position: center;
    background-size: contain;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 1s all linear;
}
ul {
    padding:0;
    margin: 0;
    list-style: none;

}
.stream-form-input {
    display:none;
}


.item-child li{
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(45deg, rgb(92,157,245), 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    color: white;
    cursor: pointer;
    transition: 500ms all ease-out;
    overflow: hidden;

}

.show {display: block;}


ul li:hover {
    background-position: 0%;
    color: white;
}

.display-none {
    transition: 1s all linear;
    display: none;
}

/* COLLAPSING NAV BAR CSS */


.active {
    background-color: black;
}

.burger {
    cursor: pointer;
    width: 15%;
    color: #CFD8DC;
    line-height: 3rem;
    background-color: #2f323a;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    border-bottom: 1px solid;
    border-color: white;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
}
.burger:hover{
    opacity: 0.5;
}

body[nav="0"] .burger {
    transition: width 1s ease-in-out;
    overflow: hidden;
    width: 4%
}

body[nav="1"] .burger {
    transition: width 1s ease-out;
    overflow: hidden;
    width: 15%
}

body[nav="0"] .left-div {
    overflow: hidden;
    transition: width 1s ease-in-out;
    width: 4%;
}

body[nav="1"] .left-div {
    overflow: hidden;
    transition: width 1s ease-out;
    width: 15%
}

body[nav="0"] .nav-sub-header {
    display: none;
    }

    
body[nav="1"] .nav-sub-header {
    transition: width 1s ease-out;
    overflow: hidden;
    width: 15%
}

body[nav="0"] .item-child {
        display: none;
        }
        
body[nav="1"] .burger {
    transition: width 1s ease-out;
    overflow: hidden;
    width: 15%
}

body[nav="0"] #stream-form p {
            display: none;
            }

body[nav="0"] .stream-form-input {
                display: none;
                }

 body[nav="0"] .small-admin-text {
             display: none;
                    }
        


/* USER DETAILS TESTING CSS */




#main-user-details {
    width: 100%;
    height: 192px;
    padding-top: 22px;
    background-color: #252525;
    display: flex;
    color: white;
}

.user-details-left {
    display: inline-block;
    width: 100%;
    height: 200px;
    padding-left: 200px;
    background-color: #252525;
    margin-top: 50px;
}

.user-heading {
    display:inline;
    font-family: Roboto, SansSerif;
}

.user-heading h3 {
    color: #dddddd;
    font-size: 30px;
    display: contents;
}


.user-heading p {
    color: #dddddd;
    font-size: 14px;
}


/* RIGHT HAND SIDE */
.user-info-right {
    width: 50%;
    display: inline-block;
    height: 200px;
    padding-right: 200px;
}

/* BUTTONS */
#impersonate {
    display: inline-block;
    float: left;
}

.impersonate-button {
    margin-top: 50px;
    float: left;
    height: 40px;
    width: 90%;
    border: none;
    display:inline-block;
    margin-left: 10px;
    font-weight: 400;
    cursor: pointer;
    background-color: #5c9df5;
    color: white;
    border-radius: 5px;
}
.impersonate-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.change-password-button {
    margin-top: 50px;
    height: 40px;
    width: 90%;
    border: none;
    display:inline-block;
    margin-left: 10px;
    font-family: Roboto, SansSerif;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    background-color: grey;
}

.change-password-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* USER SECONDARY DETAILS */
#secondary-user-details {
    width: calc(100% - 20px);
    margin-left: 10px;
    color: black;
    display: inline-block;
    background-color: #252525;
}

.user-info-box {
    width: 19.5%;
    text-align: center;
    font-family: Roboto, SansSerif;
    display: inline-block;
    border-right: 2px solid #dddddd;
}

.user-info-title {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #eee;
    font-weight: lighter;
    padding: 8px;

}

p {
    font-size: 1.2rem;
    color: #eee;
    font-weight: 500;
}


 .item-father {
    margin-top: 0;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    padding-left: 20px;
    display: block;
}

.item-father:hover {
    opacity:0.5;
}
.item-father:hover {
        opacity:0.5;
    }

#admin-info-container {
    width:80%;
    height: 1500px;
    background-color: #252525;
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  

/* SUBSCRIPTION DETAILS AND TABLE STARTS HERE */

/*
#subscription-details {
    display: inline-block;
    width: 100%;
    color: black;
    font-family: Roboto, sans-serif;
    padding-top:20px;
}

h2 {
    display: inline-block;
    width: 100%;
    color: black;
    font-family: Roboto, sans-serif;
    padding-left: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color:#d8dddd}
tr:nth-child(odd){background-color:#dddddd}

tr {
    border-bottom: 2px solid;
}

th {
    background-color: #191a1e;
    color: white;
    font-weight: lighter;
}

 */


/* JAVASCRIPT TOGGLE MENU */

